.profiles-badge,
.modules-badge,
.rols-badge,
.users-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: .3px;
}

.profiles-badge,
.modules-badge,
.rols-badge,
.users-badge {
    &.status-true, &.status-active {
        background: #C8E6C9;
        color: #256029;	
    }

    &.status-false, &.status-inactive {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.verified-true, &.public-true {
        background:var(--blue-100);	
        color: var(--blue-600);	
    }
    &.verified-false, &.public-false {
        background:var(--red-100);	
        color: var(--red-600);	
    }
}
